<div>
  <form>
    <div class="my-2">
      <label for="">Name</label>
      <input type="text" class="form-control" />
    </div>

    <div class="my-2">
      <label for="description">Description</label>
      <input type="text" class="form-control" />
    </div>

    <div class="my-2">
      <label for="">Status</label>
      <select class="form-control">
        <option value="">Select Status</option>
      </select>
    </div>

    <div class="my-2">
      <button class="btn btn-primary">Create Course</button>
      <button class="btn btn-danger" type="button">Cancel</button>
    </div>
  </form>
</div>
