.inactive {
  border: 1px solid #ccc;
}
.selected {
  border: 2px solid blue;
  animation: selectedMove 0.5s ease-out;
}

@keyframes selectedMove {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.loading-bar {
  width: 100px;
  height: 20px;
  border: 1px solid black;
  margin: auto;
  box-sizing: content-box;
}

.loading-bar-element {
  width: 50px;
  height: 20px;
  background-color: lightblue;
  animation: loading 1s linear infinite;
}
/*
@keyframes loading {
  0% {
    width: 0px;
  }
  100% {
    width: 100px;
  }
} */

@keyframes loading {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0);
  }
}
