<div class="row">
  <div class="col-xs-12">
    <h3>My Courses</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <button class="btn btn-info" (click)="onCourseCreate()">Add Course</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12 overflow-hidden">
    <app-new-course
      *ngIf="createNewCourse"
      @newCourseTrigger
      (courseCreated)="courseCreated($event)"
      (courseCanceled)="courseCancel()"
    ></app-new-course>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="loading-bar" *ngIf="!coursesLoaded">
      <div class="loading-bar-element"></div>
    </div>
    <div [@listStateTrigger]="courses.length">
      <app-course
        *ngFor="let course of courses; let i = index"
        [course]="course"
        [@courseAddTrigger]="createNewCourse ? 'slideDown' : 'slideUp'"
        [@selectedTrigger]="selectedCourseIndex === i ? 'selected' : 'default'"
        [ngClass]="{
          inactive: course.status === 'inactive'
        }"
        (statusUpdated)="onStatusUpdate($event, i)"
        (courseDeleted)="onCourseDelete(i)"
        (click)="onCourseSelected(i)"
      ></app-course>
    </div>
  </div>
</div>
