<button (click)="toggleContent()">Toggle Content</button>

<p @conditionalTrigger *ngIf="showContent">Now you can see Content</p>

<button (click)="width = width - 50">Shrink</button>
<button (click)="animate = !animate">Animate me</button>

<p
  [@shrinkAnimation]="animate ? 'shrink' : 'noshrink'"
  [ngStyle]="{ 'width.px': width }"
>
  Shrink Me
</p>

<hr />

<button (click)="onAddElement()">Add Element</button>

<div @listTrigger class="element" *ngFor="let item of listData">
  {{ item }}
</div>
