:host {
  display: block;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 3px 3px 2px #ccc;
}

.form-control {
  width: 50%;
  display: inline-block;
}

:host(.selected) {
  padding: 19px;
}

:host(.inactive) {
  color: #ccc;
}
