<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/"
            >Courses</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/users"
            >Users</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="row overflow-hidden">
    <div class="col-xs-12"><router-outlet></router-outlet></div>
  </div>
</div>
